[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"markdown2" = "*"
"jinja2" = "*"
rcssmin = "*"
htmlmin = "*"
python-frontmatter = "*"
pyyaml = "*"
harmonique = {editable = true, path = "."}
watchdog = "*"

[dev-packages]
black = "*"
pylint = "*"
ipython = "*"
pytest = "*"
twine = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
